@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);
/* line 5, ../sass/main.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, ../sass/main.scss */
.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

/* line 71, ../sass/main.scss */
html, body {
  height: 100%;
  overflow-x: hidden;
  width: 100%; }

/* line 77, ../sass/main.scss */
h2, .h2 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 30px; }

/* line 86, ../sass/main.scss */
h3, .h3 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 25px; }

/* line 95, ../sass/main.scss */
h4, .h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 20px; }

/* line 104, ../sass/main.scss */
hr {
  background-image: url(../img/transparent-sprite.png);
  background-position: 0 -540px;
  background-repeat: repeat-x;
  border: 0;
  height: 10px;
  margin: 0;
  padding: 0;
  width: 100%; }

/* line 117, ../sass/main.scss */
.module {
  background-image: url(../img/module-bg.jpg);
  background-background-position: center 0;
  border: 2px solid white;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 50px auto 0 auto;
  padding: 40px;
  position: relative;
  width: 920px;
  z-index: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); }
  /* line 136, ../sass/main.scss */
  .module:before {
    position: absolute;
    display: block;
    content: "";
    background-image: url(../img/transparent-sprite.png);
    background-position: 0 -360px;
    background-repeat: no-repeat;
    height: 30px;
    left: 0;
    margin: 2px 0 0 0;
    top: 100%;
    width: 100%; }

/* line 152, ../sass/main.scss */
.container-shadow {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); }

/* line 157, ../sass/main.scss */
.main-heading {
  background-color: rgba(0, 180, 255, 0.9);
  color: white;
  position: relative;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }
  /* line 163, ../sass/main.scss */
  .main-heading:before {
    position: absolute;
    display: block;
    content: "";
    background-image: url(../img/transparent-sprite.png);
    background-position: 0 -20px;
    background-repeat: no-repeat;
    height: 20px;
    left: 0;
    top: 100%;
    width: 100%; }
  /* line 176, ../sass/main.scss */
  .main-heading .icon {
    background-image: url(../img/transparent-sprite.png);
    background-repeat: no-repeat;
    height: 100px;
    left: -73px;
    margin: -50px 0 0 0;
    position: absolute;
    top: 50%;
    width: 112px; }

/* line 190, ../sass/main.scss */
.main-content {
  background-color: rgba(255, 255, 255, 0.9);
  color: #005375;
  font-weight: 300;
  font-size: 20px; }

/* line 199, ../sass/main.scss */
.progress {
  padding: 10px; }
  /* line 202, ../sass/main.scss */
  .progress .visual {
    display: inline-block;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 650px; }
    /* line 211, ../sass/main.scss */
    .progress .visual li {
      bottom: 0;
      display: inline-block;
      height: 100%;
      position: relative;
      top: 0; }
      /* line 219, ../sass/main.scss */
      .progress .visual li:after {
        position: absolute;
        display: block;
        content: "";
        background-color: rgba(255, 255, 255, 0.5);
        height: 4px;
        left: 50%;
        margin: -8px 0 0 -2px;
        top: 50%;
        width: 4px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
      /* line 231, ../sass/main.scss */
      .progress .visual li.active:after {
        position: absolute;
        display: block;
        content: "";
        background-color: white;
        height: 20px;
        left: 50%;
        margin: -16px 0 0 -10px;
        top: 50%;
        width: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%; }
  /* line 245, ../sass/main.scss */
  .progress .text {
    color: white;
    display: inline-block; }

/* line 251, ../sass/main.scss */
.footer {
  background-color: rgba(0, 180, 255, 0.9);
  min-height: 20px;
  padding: 10px;
  position: relative;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px; }
  /* line 258, ../sass/main.scss */
  .footer:before {
    position: absolute;
    display: block;
    content: "";
    background-image: url(../img/transparent-sprite.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    bottom: 100%;
    height: 20px;
    left: 0;
    width: 100%; }

/* line 272, ../sass/main.scss */
.btn {
  cursor: pointer;
  font-weight: 300;
  font-size: 25px; }

/* line 280, ../sass/main.scss */
.btn.nav {
  background-color: #005375;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  color: white;
  display: inline-block;
  padding: 13.33333px 30px 13.33333px 30px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  /* line 293, ../sass/main.scss */
  .btn.nav[data-state="over"] {
    background-color: #00b4ff; }
    /* line 296, ../sass/main.scss */
    .btn.nav[data-state="over"] .icon {
      background-position: -342px -140px; }
  /* line 301, ../sass/main.scss */
  .btn.nav .icon {
    background-image: url(../img/transparent-sprite.png);
    background-position: -230px -140px;
    background-repeat: no-repeat;
    height: 100px;
    left: -95px;
    margin: -50px 0 0 0;
    position: absolute;
    top: 50%;
    width: 112px; }

/* line 319, ../sass/main.scss */
.container-shadow[data-type="welcome"] .main-heading {
  padding: 10px 20px 10px 20px; }
/* line 323, ../sass/main.scss */
.container-shadow[data-type="welcome"] .main-content {
  padding: 20px 20px 20px 20px; }
  /* line 326, ../sass/main.scss */
  .container-shadow[data-type="welcome"] .main-content .intro {
    padding: 0 0 20px 0; }

/* line 334, ../sass/main.scss */
.container-shadow[data-type="questionText"] .main-heading {
  padding: 10px 10px 10px 40px; }
  /* line 337, ../sass/main.scss */
  .container-shadow[data-type="questionText"] .main-heading .icon {
    background-position: 0 -40px; }
/* line 342, ../sass/main.scss */
.container-shadow[data-type="questionText"] .main-content {
  list-style: none;
  margin: 0;
  padding: 20px 20px 20px 40px; }
  /* line 347, ../sass/main.scss */
  .container-shadow[data-type="questionText"] .main-content li {
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
    padding: 13.33333px 20px 13.33333px 20px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    /* line 357, ../sass/main.scss */
    .container-shadow[data-type="questionText"] .main-content li[data-state="over"], .container-shadow[data-type="questionText"] .main-content li[data-state="active"] {
      border-color: white;
      color: white;
      -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); }
    /* line 363, ../sass/main.scss */
    .container-shadow[data-type="questionText"] .main-content li[data-state="over"] {
      background-color: #005375; }
    /* line 367, ../sass/main.scss */
    .container-shadow[data-type="questionText"] .main-content li[data-state="active"] {
      background-color: #00b4ff; }
      /* line 370, ../sass/main.scss */
      .container-shadow[data-type="questionText"] .main-content li[data-state="active"] .icon {
        background-position: -112px -140px; }
    /* line 375, ../sass/main.scss */
    .container-shadow[data-type="questionText"] .main-content li .icon {
      display: none;
      background-image: url(../img/transparent-sprite.png);
      background-position: 0 -140px;
      background-repeat: no-repeat;
      height: 100px;
      left: -115px;
      margin: -50px 0 0 0;
      position: absolute;
      top: 50%;
      width: 112px;
      -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
      -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0; }

/* line 399, ../sass/main.scss */
.container-shadow[data-type="questionImage"] .main-heading {
  padding: 10px 10px 10px 60px; }
  /* line 402, ../sass/main.scss */
  .container-shadow[data-type="questionImage"] .main-heading .icon {
    background-position: 0 -40px; }
/* line 407, ../sass/main.scss */
.container-shadow[data-type="questionImage"] .main-content {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0; }
  /* line 414, ../sass/main.scss */
  .container-shadow[data-type="questionImage"] .main-content li {
    background-image: url(../img/-temp-image-1.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 2px solid white;
    display: inline-block;
    height: 250px;
    margin: 40px 0 40px 20px;
    position: relative;
    width: 143px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
    /* line 431, ../sass/main.scss */
    .container-shadow[data-type="questionImage"] .main-content li:before {
      position: absolute;
      content: "";
      display: none;
      border: 2px solid white;
      height: 270px;
      left: -12px;
      top: -12px;
      width: 163px;
      z-index: -1 !important;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
      -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5); }
    /* line 446, ../sass/main.scss */
    .container-shadow[data-type="questionImage"] .main-content li[data-state="over"]:before {
      background-color: #005375;
      display: block; }
    /* line 453, ../sass/main.scss */
    .container-shadow[data-type="questionImage"] .main-content li[data-state="active"]:before {
      background-color: #00b4ff;
      display: block; }
    /* line 458, ../sass/main.scss */
    .container-shadow[data-type="questionImage"] .main-content li[data-state="active"] .icon {
      background-position: -112px -240px; }
    /* line 463, ../sass/main.scss */
    .container-shadow[data-type="questionImage"] .main-content li .icon {
      display: none;
      background-image: url(../img/transparent-sprite.png);
      background-position: 0 -240px;
      background-repeat: no-repeat;
      height: 100px;
      left: -90px;
      position: absolute;
      top: -90px;
      width: 100px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0; }

/* line 485, ../sass/main.scss */
.container-shadow[data-type="results"] .main-heading {
  padding: 10px 20px 10px 20px; }
/* line 489, ../sass/main.scss */
.container-shadow[data-type="results"] .main-content {
  padding: 20px 20px 0 20px; }
  /* line 493, ../sass/main.scss */
  .container-shadow[data-type="results"] .main-content .winner-image {
    position: absolute;
    width: 250px; }
  /* line 498, ../sass/main.scss */
  .container-shadow[data-type="results"] .main-content .intro {
    min-height: 250px;
    padding: 0 0 0 270px;
    position: relative; }
    /* line 503, ../sass/main.scss */
    .container-shadow[data-type="results"] .main-content .intro .btn.nav {
      bottom: 20px;
      position: absolute;
      right: 0; }
/* line 511, ../sass/main.scss */
.container-shadow[data-type="results"] .footer {
  color: white;
  padding: 10px 10px 0 10px; }
  /* line 515, ../sass/main.scss */
  .container-shadow[data-type="results"] .footer .extra-profile-container {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 520, ../sass/main.scss */
    .container-shadow[data-type="results"] .footer .extra-profile-container .profile-image {
      display: inline-block;
      padding: 20px 10px 0 10px;
      position: relative; }
      /* line 525, ../sass/main.scss */
      .container-shadow[data-type="results"] .footer .extra-profile-container .profile-image .icon {
        display: block;
        background-image: url(../img/transparent-sprite.png);
        background-repeat: no-repeat;
        height: 100px;
        left: -65px;
        position: absolute;
        top: -65px;
        width: 100px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
        -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0; }
      /* line 542, ../sass/main.scss */
      .container-shadow[data-type="results"] .footer .extra-profile-container .profile-image img {
        width: 184px; }

/* line 552, ../sass/main.scss */
.container-shadow[data-type="userForm"] .main-heading {
  padding: 10px 20px 10px 40px; }
  /* line 555, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-heading .icon {
    background-position: -342px -140px; }
/* line 560, ../sass/main.scss */
.container-shadow[data-type="userForm"] .main-content {
  padding: 20px 20px 20px 20px; }
  /* line 567, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content hr {
    margin: 20px 0 20px 0; }
  /* line 573, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content form li {
    display: inline-block; }
  /* line 577, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content form label {
    padding: 0 0 10px 0; }
  /* line 581, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content form label, .container-shadow[data-type="userForm"] .main-content form input {
    cursor: pointer;
    display: block;
    outline: none; }
  /* line 587, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content form input {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal; }
  /* line 596, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content form .text-elements {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 601, ../sass/main.scss */
    .container-shadow[data-type="userForm"] .main-content form .text-elements li.text {
      width: 388px; }
      /* line 605, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .text-elements li.text.padding {
        padding: 0 20px 0 0;
        width: 408px; }
      /* line 612, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .text-elements li.text[data-validate="false"] label {
        color: red; }
      /* line 616, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .text-elements li.text[data-validate="false"] input {
        background-color: red;
        border: 1px solid red;
        color: white; }
      /* line 625, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .text-elements li.text[data-state="over"] label {
        color: #005375; }
      /* line 629, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .text-elements li.text[data-state="over"] input {
        background-color: #005375;
        border: 1px solid #005375;
        color: white; }
      /* line 638, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .text-elements li.text[data-state="focus"] label {
        color: #00b4ff; }
      /* line 642, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .text-elements li.text[data-state="focus"] input {
        background-color: #00b4ff;
        border: 1px solid #00b4ff;
        color: white; }
      /* line 649, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .text-elements li.text input {
        background-color: transparent;
        border: 1px solid #005375;
        color: #005375;
        margin: 0 0 20px 0;
        padding: 10px;
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
  /* line 661, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content form hr {
    margin: 0 0 20px 0; }
  /* line 665, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content form .check-elements, .container-shadow[data-type="userForm"] .main-content form .condition-elements {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0; }
    /* line 671, ../sass/main.scss */
    .container-shadow[data-type="userForm"] .main-content form .check-elements li, .container-shadow[data-type="userForm"] .main-content form .condition-elements li {
      display: inline-block;
      width: 184px; }
      /* line 675, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .check-elements li.padding, .container-shadow[data-type="userForm"] .main-content form .condition-elements li.padding {
        margin: 0 20px 0 0; }
    /* line 680, ../sass/main.scss */
    .container-shadow[data-type="userForm"] .main-content form .check-elements label, .container-shadow[data-type="userForm"] .main-content form .condition-elements label {
      border: 1px solid #005375;
      display: block;
      font-size: 13px;
      font-weight: 500;
      padding: 13.33333px 10px;
      margin: 0 0 20px 0;
      position: relative;
      text-transform: uppercase;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
      /* line 691, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .check-elements label:hover, .container-shadow[data-type="userForm"] .main-content form .condition-elements label:hover {
        background: #005375 !important;
        border: 1px solid #005375 !important;
        color: white; }
        /* line 696, ../sass/main.scss */
        .container-shadow[data-type="userForm"] .main-content form .check-elements label:hover:before, .container-shadow[data-type="userForm"] .main-content form .condition-elements label:hover:before {
          background-color: white;
          background-position: -21px -581px;
          border: 1px solid #005375 !important; }
      /* line 705, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .check-elements label:before, .container-shadow[data-type="userForm"] .main-content form .condition-elements label:before {
        position: absolute;
        display: block;
        content: "";
        background-color: transparent;
        background-image: url(../img/transparent-sprite.png);
        background-position: 0 -581px;
        background-repeat: no-repeat;
        border: 1px solid #005375;
        height: 20px;
        margin: -10px 0 0 0;
        right: 10px;
        top: 50%;
        width: 20px;
        -webkit-border-radius: 3.33333px;
        -moz-border-radius: 3.33333px;
        -ms-border-radius: 3.33333px;
        -o-border-radius: 3.33333px;
        border-radius: 3.33333px; }
    /* line 724, ../sass/main.scss */
    .container-shadow[data-type="userForm"] .main-content form .check-elements input, .container-shadow[data-type="userForm"] .main-content form .condition-elements input {
      left: -99999px;
      position: absolute; }
      /* line 729, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .check-elements input:checked ~ label, .container-shadow[data-type="userForm"] .main-content form .condition-elements input:checked ~ label {
        background: #00b4ff !important;
        border: 1px solid #00b4ff !important;
        color: white; }
        /* line 734, ../sass/main.scss */
        .container-shadow[data-type="userForm"] .main-content form .check-elements input:checked ~ label:before, .container-shadow[data-type="userForm"] .main-content form .condition-elements input:checked ~ label:before {
          background-color: white;
          background-position: -61px -581px;
          border: 1px solid #00b4ff !important; }
  /* line 745, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content form .condition-elements {
    padding: 0; }
    /* line 748, ../sass/main.scss */
    .container-shadow[data-type="userForm"] .main-content form .condition-elements li {
      display: block;
      margin: 0 0 20px 0;
      width: 388px; }
      /* line 753, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .condition-elements li[data-validate="false"] label {
        background: red;
        border: 1px solid red;
        color: white; }
        /* line 758, ../sass/main.scss */
        .container-shadow[data-type="userForm"] .main-content form .condition-elements li[data-validate="false"] label:before {
          background-color: white;
          border: 1px solid red; }
  /* line 766, ../sass/main.scss */
  .container-shadow[data-type="userForm"] .main-content form .button-container {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 771, ../sass/main.scss */
    .container-shadow[data-type="userForm"] .main-content form .button-container input.btn {
      background-color: transparent;
      border: 0;
      margin: 0;
      padding: 1px 0; }
    /* line 778, ../sass/main.scss */
    .container-shadow[data-type="userForm"] .main-content form .button-container .btn.nav.skip {
      margin: 0 0 0 20px; }
      /* line 781, ../sass/main.scss */
      .container-shadow[data-type="userForm"] .main-content form .button-container .btn.nav.skip .icon {
        display: none; }
/* line 789, ../sass/main.scss */
.container-shadow[data-type="userForm"] .footer {
  color: white;
  padding: 10px 10px 0 10px; }

/* line 799, ../sass/main.scss */
.container-shadow[data-type="socialMedia"] .main-heading {
  padding: 10px 20px 10px 20px; }
/* line 803, ../sass/main.scss */
.container-shadow[data-type="socialMedia"] .main-content {
  padding: 20px 20px 20px 20px; }
  /* line 806, ../sass/main.scss */
  .container-shadow[data-type="socialMedia"] .main-content .intro {
    padding: 0 0 20px 0; }
/* line 813, ../sass/main.scss */
.container-shadow[data-type="socialMedia"] .footer .social-message, .container-shadow[data-type="socialMedia"] .footer .social-buttons {
  float: left; }
/* line 817, ../sass/main.scss */
.container-shadow[data-type="socialMedia"] .footer .social-message {
  color: white;
  padding: 10px 10px 10px 10px;
  width: 40%; }
  /* line 822, ../sass/main.scss */
  .container-shadow[data-type="socialMedia"] .footer .social-message .icon {
    background-color: red;
    background-image: url(../img/transparent-sprite.png);
    background-position: 0 0px;
    background-repeat: repeat-x;
    height: 100px;
    left: -73px;
    margin: -50px 0 0 0;
    position: absolute;
    top: 50%;
    width: 112px; }
/* line 838, ../sass/main.scss */
.container-shadow[data-type="socialMedia"] .footer .social-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60%; }
  /* line 844, ../sass/main.scss */
  .container-shadow[data-type="socialMedia"] .footer .social-buttons .btn {
    display: inline-block;
    padding: 10px 10px 0 10px;
    width: 33.3%; }
    /* line 849, ../sass/main.scss */
    .container-shadow[data-type="socialMedia"] .footer .social-buttons .btn img {
      width: 100%; }
